
  .greenbutton {
    padding: 12px 25px;
    background: rgba(255, 255, 255, 0.15);
    color: rgb(255,0,0;
    border: 1px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }

  .greenbutton:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-3px);
  }
